@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Reem+Kufi+Fun:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #40583565;
    font-family: 'Reem Kufi Fun', sans-serif;
}

p {
    margin: 0px;
    padding-top: 10px;
}

.desktopPic {
    display: none;
}

.mobilePic {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.picOverlayCombo {
    position: relative;
}

.SSLogo {
    width: auto;
    height:125px;
}

.mobilePicOverlay {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.overlayMobileText {
    align-items: center;
    text-align: center;
    font-size: 30px;
    word-spacing: .3rem;
    
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.hero {
    text-align: center;
    padding: 35px 20px 25px;
    font-size: 16px;
    font-weight: 500;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 550;
}

.formBox {
    background-color: #a3b69a65;
    width:100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    border-bottom: 1px black solid;
    margin-bottom: 2px;
}

input {
    appearance: none;
    margin: 5px 0px;
}

button {
    margin-top: 25px;
    border: 2.5px solid black;
    background-color: #6c99578c;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: large;
    border-radius: 10px;
    width: 210px;
    height: 45px;
}

button:hover {
    background-color: #6380569f;
    scale: 1.02;
    transition: all .2s ease-in-out;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    background-color: #b6daa69f;
    scale: 1.04;
    transition: all .2s ease-in-out;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input:required {
    border-radius: 10px; 
    padding: 14px 50px 14px 8px;
}

input:required:invalid:placeholder-shown {
    border: 1.5px rgb(179, 179, 179) solid;
    background-color: white;
}

input:required:focus {
    outline: 1.5px rgb(54, 57, 204) solid;
    border: 0px;
}

input:required:valid {
    transition: .6s;
    border: 1.5px solid rgba(0, 175, 44, 0.726);
    background-color: rgba(156, 252, 180, 0.185);
}

input:required:invalid {
    transition: .6s;
    background-color: rgba(248, 170, 170, 0.199);
    border: 1.5px solid rgba(207, 0, 0, 0.5);
}

.topForm, .bottomForm, .middleForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

span {
    color: rgb(207, 0, 0);
}

span::after {
    content: "*";
}

#passwordPrompt, #passwordMatchPrompt {
    font-size: 13px;
    margin: 0;
    display: none;
}

#passwordPrompt::after, #passwordMatchPrompt::after {
    content: "";
}

.picOverlay {
    position: absolute;
    left: 0px;
    top: 320px;
    background-color: rgba(0, 0, 0, 0.432);
    height: 165px;
    width: 513px;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.overlayText {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 250;
}

.accountCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 780px) {
   
    .picOverlayCombo {
        visibility: hidden;
    }

    body {
        flex-direction: row; 
    }

    .hero {
        text-align: center;
        padding: 20px;
        font-size: 16px;
        font-weight: 250;
    }

    h1 {
        font-size: 30px;
    }

    .divForm {
        display: block;
    }

    .mobilePic {
        display: none;
    }

    .desktopPic {
        width: auto;
        height: 100%;
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
  
}

@media screen and (min-width: 1024px) {

    .picOverlayCombo {
        visibility: hidden;
    }

    
    body {
        flex-direction: row; 
    }

    .signUpForm {
        align-items: start;
    }

    .hero {
        text-align: start;
        margin-top: 0px;
        margin: 5px 0px 25px;
    }
    
    h1 {
        margin-left: 25px;
    }

    .formBox {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .divForm {
        display: block; 
    }

    .topForm, .bottomForm, .middleForm {
        display:flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        text-align: start;
    }

    #passwordPrompt {
        width: 50%;
    }

    .bottomForm {
        margin-bottom: 25px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .inputs:nth-child(2) {
        margin-left: 50px;
    }
    
    label {
        margin-top: 15px;
    }

    input {
        margin-bottom: 15px;
    }


    .mobilePic {
        display: none;
    }

    .desktopPic {
        width: auto;
        height: 100%;
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .accountCreate {
        align-items: start;
        margin-left: 25px;
    }
  
}
